.main-btns .button {
    text-align: center;
    width: 20em;
}

.first-container {
    padding-top: 5em;
}

form > hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

form > div.row.radiobox {
    display: table;
    width: 100%;
}

form > div.row.radiobox > div {
    height: 5rem;
    display: table-cell;
    vertical-align: middle;
}

.error-msg {
    color: #F44;
}

/*div, p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}*/

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@media (min-width: 750px) {
    .vcenter {
        display: table;
    }

    .vcenter input, .vcenter p, .vcenter textarea {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .vcenter .columns {
        display: table-cell;
        vertical-align: middle;
    }

    .vcenter .columns,
    .vcenter [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}