<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Grossi16 - Erro 404</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">
  <link rel="stylesheet" href="/static/fonts.css">
  <link rel="stylesheet" href="/static/custom.css">

  <link rel="icon" type="image/png" href="static/favicon.png">
</head>
<body>
  <div class="container first-container">
    <div class="row">
      <div class="one-half column">
        <h3>Ops...</h3>
        <p>Houve algum erro com o nosso servidorzinho :(</p>
        <p>Relaxa, a culpa não é sua.</p>
        <p>Talvez seja prudente voltar para a <a href="/">página inicial</a>.</p>
      </div>
    </div>
  </div>
</body>