<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Grossi16</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">
  <link rel="stylesheet" href="/static/fonts.css">
  <link rel="stylesheet" href="/static/custom.css">

  <link rel="icon" type="image/png" href="static/favicon.png">
</head>
<body>
  <div class="container first-container">
    <div class="row">
      <div class="eleven columns">
        <h3 class="section-heading">Grossi16</h3>
      </div>
    </div>
    <div class="row main-btns">
      <a class="button button-primary" href="/student">Sou Aluno</a>
      <a class="button" href="/teacher">Sou o Professor</a>
    </div>
  </div>
</body>